@model SaltStackers.Application.ViewModels.Nutrition.RecipeOverheadCosts
@{
    ViewData["Title"] = Global.RecipeOverheadCosts;
    ViewData["Icon"] = Icon.OverheadCost;
    Model.PageUrl = Url.Action("Index");
}
@section actions {
    <a href="#collapse-filters" class="mx-1" data-bs-toggle="collapse" aria-expanded="false"><i class="fas fa-fw fa-filter"></i></a>
}
<partial name="_Filters" />
<div class="alert alert-secondary d-flex align-items-center justify-content-between mb-3">
    <strong>
        Food: <a asp-area="Nutrition" asp-controller="Food" asp-action="Edit" asp-route-id="@Model.Recipe.FoodId" class="pe-3">@Model.Recipe.Food.Title</a>
        Recipe: <a asp-area="Nutrition" asp-controller="Recipe" asp-action="Edit" asp-route-id="@Model.RecipeId">@(string.IsNullOrEmpty(Model.Recipe.Title) ? "Default" : Model.Recipe.Title)</a>
    </strong>
    <span>
        <a asp-area="Nutrition" asp-controller="RecipeOverheadCost" asp-action="Create" asp-route-recipeId="@Model.RecipeId" class="btn btn-sm btn-primary">Add new overhead cost</a>
        <a asp-area="Nutrition" asp-controller="Recipe" asp-action="Details" asp-route-id="@Model.RecipeId" class="btn btn-sm btn-secondary">Back</a>
    </span>
</div>
<div class="table-responsive">
    <table class="table table-hover table-striped align-middle">
        <thead>
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>Last modified at</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items.Any())
            {
                foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.OverheadCostTitle</td>
                        <td>@item.Amount.ToString("0.00") CAD</td>
                        <td>@item.EditDateTimeLocal</td>
                        <td>
                            <a asp-area="Nutrition" asp-controller="RecipeOverheadCost" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-link text-decoration-none link-primary"><i class="me-1 fa-fw @Icon.ButtonEdit"></i>@Global.Edit</a>
                            <a asp-area="Nutrition" asp-controller="RecipeOverheadCost" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-link text-decoration-none link-danger"><i class="me-1 fa-fw @Icon.ButtonDelete"></i>@Global.Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<partial name="_PagingInfo" model="Model" />