@model SaltStackers.Application.ViewModels.Membership.EditUser
@{
    ViewData["Title"] = string.Format(Global.EditItem, Security.User);
    ViewData["Icon"] = Icon.User;
}

<div asp-validation-summary="All" class="alert alert-danger"></div>
<form asp-area="Membership" asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" method="post">
    @Html.AntiForgeryToken()
    <div class="row mb-3">
        <div class="form-floating col-md-6 mb-3 mb-sm-0">
            <input asp-for="Name" class="form-control" placeholder="Name" autocomplete="given-name" />
            <label asp-for="Name"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="form-floating col-md-6 mb-3 mb-sm-0">
            <input asp-for="PhoneNumber" class="form-control" placeholder="PhoneNumber" autocomplete="tel-country-code" />
            <label asp-for="PhoneNumber"></label>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-floating col-md-6">
            <input asp-for="Email" class="form-control" placeholder="Email" autocomplete="given-name" />
            <label asp-for="Email"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="form-floating col-md-6 mb-3 mb-sm-0">
            <select asp-for="Role" class="form-select" asp-items="@(new SelectList(Model.Roles, "Name", "DisplayName"))"></select>
            <label asp-for="Role"></label>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">@string.Format(Global.EditItem, Security.User)</button>
            <a asp-area="Membership" asp-controller="User" asp-action="Index" class="btn btn-outline-secondary">@Global.Cancel</a>
        </div>
    </div>
</form>